/* This file will hold the main styles for your website. */

div.container-16  {
  margin-left: auto;
  margin-right: auto;
  max-width: 1224px;
  width: 100%;
  /*width: 1224px;*/
}
.container-16 .block .omega-grid {
  margin: 0px;
}

div.container-16 .grid-2 {
  width: 11.5%;
}
div.container-16 .grid-4 {
  width: 25%;
}
div.container-16 .grid-10 {
  width: 61.5%;
}
div.container-16 .grid-12 {
  width: 74%;
}

div.container-16 .panel-region.grid-16 {
  width: 100%;
  margin: 0px;
}

div.header {
  padding-bottom: 10px;
  margin: 0px;
}

div.header .top {
  text-align: left;
}

div.container-16 .grid-16.top {
  margin: 0px;
}

div.container-16 .grid-16.header {
  min-height: 220px;
}

div.container-16 .grid4 {
  margin: 0px;
}

.panel-panel.left,
.panel-panel.middle,
.panel-panel.right
{
  background-color: #FFFFFF;
  color: rgba(0, 0, 0, 0.76);
}

.panel-panel.left *,
.panel-panel.middle *,
.panel-panel.right * {
  color: rgba(0, 0, 0, 0.76);
}

.panel-panel.left .inside,
.panel-panel.middle .inside,
.panel-panel.right .inside {
  padding: 5px;
}

.panel-panel.left,
.panel-panel.middle,
.panel-panel.right
{
  margin: 0px;
}

.panel-panel.left,
.omega-16-twocol-12-4 .panel-panel.middle,
.omega-16-threecol-2-12-2 .panel-panel.middle
{
  margin-right: 1%;
}

body {
  font: 13px/1.5 Verdana, Helvetica, Arial, sans-serif;
}

html, #page {
  background-color: #A29583;
  color: #FFFFFF;
  font-family: Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, sans-serif;
}

h1 {
  font-size: 22px;
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

a, a:active, a:link, a:hover, a:visited {
  color: #FFFFFF;
}

a.button {
  -webkit-appearance: none;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  border-radius: 11px;
  background: #ddd url(../images/button.png) repeat-x;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
  background: -moz-linear-gradient(top center, #fff 0%, #ddd 100%);
  border: 1px solid;
  border-color: #ddd #bbb #999;
  cursor: pointer;
  color: #333;
  font: bold 12px/1.2 Arial, sans-serif;
  line-height: 12px;
  outline: 0;
  overflow: visible;
  padding: 2px 10px 3px;
  text-shadow: #fff 0 1px 1px;
  width: auto;
  *padding-top: 2px; /* IE7 */
  *padding-bottom: 0px; /* IE7 */
  vertical-align: middle;
}
a.button:link,
a.button:visited,
a.button:hover,
a.button:focus,
a.button:active {
  text-decoration: none;
  color: #333;
}

ul.facetapi-facetapi-checkbox-links li {
  list-style: none;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

ul.facetapi-facetapi-checkbox-links li a,
ul.facetapi-facetapi-checkbox-links li a:visited,
ul.facetapi-facetapi-checkbox-links li a:link,
ul.facetapi-facetapi-checkbox-links li a:active {
  text-decoration: none;
}

input.form-text {
  max-width: 350px;
}

#hike .pane-node-body {
  padding-top: 10px;
}

#hike .pane-node-field-media .field-item {
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
}

#hike .pane-node-field-media .field-item:after {
  clear: both;
}


/* Logo */
.pane-page-logo {
  float: right;
}
.pane-page-logo .pane-content {
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #A29583;
  padding: 8px;
}

/* Language Dropdown */
.pane-locale-language {
  float: left;
  background-color: #A29583;
  height: 32px;
}

.language-switcher-locale-url {
  font-size: 9px;
}

ul.language-switcher-locale-url li {
  display: none;
}
ul.language-switcher-locale-url li.active {
  display: block;
}
ul.language-switcher-locale-url:hover li {
  display: block;
}


div.header-float {
  position: relative;
  top: 25px;
  left: 0px;
  z-index: 90;
  height: 0px;
}

 /* Menu */
.pane-menu {
  float: left;
  text-transform: uppercase;
  height: 30px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #A29583;
}

.pane-system-main-menu ul.menu,
.pane-system-main-menu ul.menu li {
  list-style: none;
  list-style-image: none;
  font-weight: bold;
}

.pane-system-main-menu ul.menu li.expanded {
  list-style: circle;
  list-style-image: url("../../../../../misc/menu-expanded.png");
}

.pane-system-main-menu ul.menu{
  /* Clear floats */
  float:left;
  width:100%;
}

.pane-system-main-menu ul.menu li{
  float: left;
  margin-right: 10px;
  position: relative;
  vertical-align: middle;
  line-height: 100%;
}
.pane-system-main-menu ul.menu a{
  display: block;
  padding: 5px;
  color:#fff;
  vertical-align: middle;
  line-height: 100%;
  text-decoration: none;
}
.pane-system-main-menu ul.menu a:hover,
.pane-system-main-menu ul.menu a.active{
  text-decoration: underline;
}


/*--- DROPDOWN ---*/
.pane-system-main-menu ul.menu ul{
  list-style:none;
  position:absolute;
  left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}
.pane-system-main-menu ul.menu ul li{
  padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
  float:none;
}
.pane-system-main-menu ul.menu ul a{
  white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
.pane-system-main-menu ul.menu li:hover ul{ /* Display the dropdown on hover */
  left:0; /* Bring back on-screen when needed */
}
.pane-system-main-menu ul.menu li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
}
.pane-system-main-menu ul.menu li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
}
.pane-system-main-menu ul.menu li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
}

 /** HOME **/
.page-home .pane-front-page-content-panel-pane-1 {
  border-bottom: 1px solid #A29583;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.page-home div.item-list li {
  margin: 0 0 1.5em 0;
}

/** HIKE SEARCH **/
.page-hikes .views-exposed-form .views-exposed-widget {
  padding-top: 0px;
}

.page-hikes .left div.item-list {
  padding-left: 10px;
}

.page-hikes .field-name-field-media {
  height: 190px;
}

.page-hikes .field-name-wanderitis-hike-subscription-button {
  padding-left: 10px;
}

.hike-search-result {
  padding-bottom: 15px;
  padding-top: 10px;
  border-bottom: 1px solid #A29583;
  clear: both;
}

/** HIKE DETAILS **/
.page-node.node-type-hike .panel-panel.right .button-subscribe-next-hike {
 text-align: center;
 padding: 10px;
}

/** HIKE SUBSCRIPTION **/
.page-hike-subscribe .hike-subscription-equipment-reminder {
  border-bottom: 1px solid #A29583;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.page-hike-subscribe .pane-hike-subscription-form .panel-col-top{
  display: none;
}
.page-hike-subscribe .pane-hike-subscription-form .inside{
  padding: 0;
  margin: 0;
}

.page-hike-subscribe .pane-hike-subscription-form .pane-generic-form-field-actions {
  padding-top: 15px;
  padding-bottom: 5px;
}
.page-hike-subscribe .pane-hike-subscription-form .pane-generic-form-field-actions a {
  margin-left: 10px;
}
